* { 
    font-family: Arial, "Times New Roman", sans-serif !important;
}

body { 
    font-family: arial;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-family: arial;
}
 
/* TABLE CSS*/
table { 
    border-collapse: collapse; 
    margin: 4em auto;
}
	
tr:nth-of-type(odd) { 
    background: #eee; 
}

td { 
    margin: 1em;
    padding: 10px;
    border: 1px solid #ccc; 
    text-align: left; 
}
 
li {
    margin-right: 15px;
}
 .button{
     font-size: 20px;
     padding: 9px 18px;
     margin: 6px;
     border-radius: 5px;
     border: solid 0px #d7e5f1;
     cursor: pointer;
     display: inline-block;
     font-family: Arial;
     color: #1A1717;
     box-shadow: 0px 10px 14px -7px #616174;
     background: -webkit-linear-gradient(90deg, #d7e5f1 5%, #F0F8FF 100%);
     background: -moz-linear-gradient(90deg, #d7e5f1 5%, #F0F8FF 100%);
     background: -ms-linear-gradient(90deg, #d7e5f1 5%, #F0F8FF 100%);
     background: -o-linear-gradient(90deg, #d7e5f1 5%, #F0F8FF 100%);
 }
 .button:hover{
     background: -webkit-linear-gradient(90deg, #F0F8FF 5%, #d7e5f1 100%);
     background: -moz-linear-gradient(90deg, #F0F8FF 5%, #d7e5f1 100%);
     background: -ms-linear-gradient(90deg, #F0F8FF 5%, #d7e5f1 100%);
     background: -o-linear-gradient(90deg, #F0F8FF 5%, #d7e5f1 100%);
 }
 .button:active{
     position: relative;
     top: 1px;
     box-shadow: rgba(255,255,255,0.2) 0 16px 0,inset rgba(0,0,0,0.3) 0px 4px 16px;
 }
 